/*-----------rewaded page -----css start -----------------------------------------
----------------------------------------------------------------------------
-----------------------------------------------------------------------------
--------------------------------------------------------------------------*/

.rewaded_first_section {
    margin: 0;
    height: 450px;
    margin-top: 72px;
  }
  .rewad-responsive-container {
    width: 100%;
   height: 450px;
    border: 2px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    border: hidden;
    background: linear-gradient(135deg, #c29edb 20%, #e8d8f2 40%, #ffffff 50%, #e8d8f2 60%, #c29edb 80%);
  
    color: black;
    /*background: linear-gradient(to bottom, #ff7e5f, #feb47b);*/
  }
  .rewad-responsive-logo {
    position: absolute;
    top: 10px;
    /*max-width: 100%;*/
    height: auto;
  }
  .rewad-left-logo {
    margin-top: 30px;
    left: 10px;
    width: 120px;
  }
  .rewad-right-logo {
    margin-top: 30px;
    right: 10px;
    width: 90px;
  }
  
  .rewad-big-bold-text_line2{
    font-size: 17px;
  }
  .rewad-animated-content {
    text-align: center;
    animation: rewad-slideInFromBottom 2s;
    transform: translateY(100%);
    padding: 0 20px;
  }
  .rewad-big-bold-text {
    font-size: 40px;
    font-weight: bold;
  }

  @media (max-width: 950px) {
    .rewad-big-bold-text {
        font-size: 30px;
        font-weight: bold;
    }
    .rewad-big-bold-text_line2{
      font-size: 15px;
    }
  
  }

  
  @media (max-width: 730px) {
    .rewad-big-bold-text {
        font-size: 25px;
        font-weight: bold;
    }
    .rewad-big-bold-text_line2{
      font-size: 15px;
      margin-bottom: 10px;
    }
  
  }
  @media (max-width: 600px) {
    .rewad-big-bold-text {
        font-size: 25px;
        font-weight: bold;
    }
    .rewad-big-bold-text_line2{
      font-size: 12px;
    }
  
  }

  @media (max-width: 500px) {
    .rewad-big-bold-text {
        font-size: 22px;
        font-weight: bold;
    }

    .rewad-big-bold-text_line2{
      font-size: 12px;
      margin-bottom: 10px;
    }
  
  }
  
  @media (max-width: 440px) {
    .rewad-big-bold-text {
        font-size: 20px;
        font-weight: bold;
    }
    .rewad-big-bold-text_line2{
      font-size: 12px;
    }
  
  }
  @keyframes rewad-slideInFromBottom {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  /*---------------------------------------------------------------------------*/


 

/* section 2 ------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/

/*body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f0f0f0, #e0e0e0);
  margin: 0;
  padding: 20px;
}*/
#section2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #333;
    padding: 20px;
    margin: 0px auto;
    max-width: 100%; /* Responsive max width */
    /*background: white; /* Background for the container */
    border: hidden;
    color: black;
    background-color:#e6e6e6;
  }
  .section { 
    padding: 5px;
    margin: 20px 0;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: translateX(-100px); /* Start from the left */
  }
  .section.visible {
    opacity: 1;
    transform: translateX(0); /* Move to original position */
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  p { 
    font-size: 18px;
  }
  

  #Rewards_fires_heading{
    text-align: center;
  }

  #image_benfites_section{
    width: 700px;
    height: 500px;
  }


  @media (max-width: 800px) {
    #image_benfites_section{
        width: 650;
        height: 450px;
      }  
  }

  @media (max-width: 770px) {

    #image_benfites_section{
        width: 550px;
        height: 400px;
      }  
  }

  
  @media (max-width: 610px) {

    #image_benfites_section{
        width: 500px;
        height: 400px;
      }  
  }

  @media (max-width: 555px) {

    #image_benfites_section{
        width: 450px;
        height: 350px;
      }  
  }


  @media (max-width: 500px) {

    #image_benfites_section{
        width: 400px;
        height: 300px;
      }  
  }

  @media (max-width: 470px) {

    #image_benfites_section{
        width: 350px;
        height: 250px;
      }  
  }

  @media (max-width: 400px) {

    #image_benfites_section{
        width: 300px;
        height: 220px;
      }  
  }